.busqueda {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
}

.create-button {
    position: fixed;
    @media (min-width: 900px) {
        bottom: 4vh;
        right: 4vw;    
        font-size: 7rem;
    }
    @media (max-width: 900px) {
        bottom: 1vh;
        right: 1vw;
        font-size: 12vw;
    }
}

.create-button:hover {
    opacity: 0.75;
}

.lista {
    margin-top: 5vh;
}

.lista-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    background-color: var(--color-primary);
    color: white;
    border-radius: 40px;
    padding: 20px;
    margin-top: 2vh;
    font-weight: bold;

    @media (min-width: 900px) {
        width: 60vw;
    }
    @media (max-width: 900px) {
        width: 75vw;
    }
}

.lista-text {
    margin-left: 1vw;
    text-align: start;
    width: 70%;
}

.lista-iconos {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    font-size: 1.75rem;
    margin-right: 1vw;

    .trash {
        color: var(--color-second);
    }
}

.edit {
    margin-right: 1vw;
}