.logout .logout-container {
        background-color: transparent;
        position: fixed;
        top: 1vh;
        right: 1vw;
        font-size: 52rem;
        color: var(--color-primary);
    }
    
    .logout .logout {
        font-size: 60rem;
    }
    
    .logout .logout:hover {
        opacity: 0.75;
    }    

