.org-crear-tit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
}

.org-crear-container {
    display: flex;
    justify-content: space-around;
}

.org-crear-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.formato {
    color: var(--color-primary);
    font-size: 1.25rem;
    margin-bottom: 5vh;
    text-align: center;
    line-height: 3rem;

    span {
        background-color: var(--color-primary);
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
}

